@font-face {
  font-family: Figtree;
  src: url("/assets/fonts/Figtree-Extrabold.ttf") format("opentype"),
    url("/assets/fonts/Figtree-Semibold.ttf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Figtree", sans-serif;
  background-color: hsl(243.46, 100%, 69.41%);
  height: 100vh;
  display: flex;
}
.main-container {
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 300px;
  height: fit-content;
}
.container {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 20px;
  padding: 16px;
  box-shadow: 8px 8px 0px 0px #000;
}
form {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 20px;
  padding: 16px;
  width: 100%;
  position: relative;
}
textarea {
  position: relative;
  padding: 8px 40px 8px 8px;
  outline: none;
  width: 100%;
}
.snd-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
li {
  list-style: none;
  font-size: 16px;
}
.prompt-container {
  margin-bottom: 16px;
}

.prompt-container p {
  font-size: 12px;
  color: hsl(243.46, 100%, 69.41%);
  margin-bottom: 24px;
}
.translate-select,
.summarize_btn {
  padding: 8px;
  border-radius: 24px;
  border: 1px solid hsl(0, 0%, 7%);
}
Select {
  padding: 4px;
  border-radius: 24px;
  border: 1px solid hsl(0, 0%, 7%);
  width: 20%;
}
.btn-container {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 501px) and (max-width: 768px) {
  .main-container {
    min-width: 500px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main-container {
    min-width: 700px;
  }
}
@media screen and (min-width: 1025px) {
  .main-container {
    min-width: 1025px;
  }
}
