@font-face {
  font-family: Figtree;
  src: url("/assets/fonts/Figtree-Extrabold.ttf") format("opentype"),
    url("/assets/fonts/Figtree-Semibold.ttf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Figtree", sans-serif;
  background-color: hsl(243.46, 100%, 69.41%);
  height: 100vh;
  display: flex;
}
body::before {
  content: "Lingobot";
  font-family: "Figtree", sans-serif;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

body::after {
  content: "...a text processing interface";
  font-family: "Figtree", sans-serif;
  font-size: 12px;
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  animation: rotateAnimation 5s linear infinite; /* Apply the animation */
  z-index: 5;
}

@keyframes rotateAnimation {
  from {
    transform: translateX(-50%) rotate(0deg); /* Start rotation at 0 degrees */
  }
  to {
    transform: translateX(-50%) rotate(360deg); /* End rotation at 360 degrees (full circle) */
  }
}
.main-container {
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 300px;
  height: fit-content;
}
.container {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 20px;
  padding: 16px;
  box-shadow: 8px 8px 0px 0px #000;
}
form {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 20px;
  padding: 16px;
  width: 100%;
  position: relative;
}
form p {
  font-size: 8px;
  color: hsl(0, 96%, 52%);
}
textarea {
  position: relative;
  padding: 8px 40px 8px 8px;
  outline: none;
  width: 100%;
  overflow: hidden;
}
textarea:focus {
  border: 1px solid hsl(243.46, 100%, 69.41%);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.summarize_btn:focus,
.translate-select:focus {
  outline: 3px solid rgba(0, 123, 255, 0.5);
}
.summarize_btn:active,
.translate-select:active {
  background-color: hsl(243.46, 100%, 69.41%);
  transform: scale(0.98);
}
.snd-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
li {
  list-style: none;
  font-size: 16px;
}
.prompt-container {
  margin-bottom: 16px;
}

.prompt-container p {
  font-size: 12px;
  color: hsl(243.46, 100%, 69.41%);
  margin-bottom: 24px;
}
.translate-select,
.summarize_btn {
  padding: 8px;
  border-radius: 24px;
  border: 1px solid hsl(243.46, 100%, 69.41%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.summarize_btn:hover,
.translate-select:hover {
  background-color: hsl(243.46, 100%, 69.41%);
  transform: scale(1.05);
}
Select {
  padding: 4px;
  border-radius: 24px;
  border: 1px solid hsl(243.46, 100%, 69.41%);
  width: 30%;
  margin-left: 8px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}
Select:focus {
  border-color: hsl(243.46, 100%, 69.41%);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.btn-container {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 501px) and (max-width: 768px) {
  .main-container {
    min-width: 500px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main-container {
    min-width: 700px;
  }
  form p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1025px) {
  .main-container {
    min-width: 1025px;
  }
  body::after {
    font-size: 24px;
  }
  form p {
    font-size: 14px;
  }
}
